@font-face {
    font-family: "Los-Angeles-Desco";
    src: local("Los-Angeles-Deco.ttf"),
    url("./fonts/Los-Angeles-Deco.ttf") format("truetype");
    font-weight: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-title {
    font-family: Los-Angeles-Desco;
    font-size: 8rem;
}